{
  "singleQuote": true,
  "printWidth": 80,
  "arrowParens": "avoid",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "# 주석": "react, next 용 설정",    
  "importOrder": [
    "^react",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@/(.*)$",
    "^[./]"
  ],

  "# 주석": "vue, nuxt 용 설정",
  "importOrder": [
    "^vue",
    "^nuxt",
    "<THIRD_PARTY_MODULES>",
    "^#",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
